*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: #141225;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/tanjiro2.jpg);
    background-size: cover;
    background-position: left;
}
.cont_form{
    width: 450px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    box-shadow: 5px 5px 30px rgb(144, 144, 144),-5px -5px 30px rgb(144, 144, 144);
    position: relative;
}
.title{
    top: 0;
}
h1{
    height: 100px;
    padding-right: 40px;
    color: white;
    position: absolute;
    top: 80px;
}
label{
    color: white;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.iniciar a{
    padding: 5px 50px;
    border-radius: 5px;
    border: solid white 0.5px;
    background-color: #141225;
    color: white;
    transition: all 0.5s;
    font-size: 1rem;
    cursor: pointer;
}
.iniciar{
    display: flex;
    justify-content: center;
}
.iniciar a:hover{
    background-color: white;
    color: #141225;
}
input.correo{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 0.8rem;
    transition: all 0.5s;
}
.contenedor{
    border-bottom: 2px solid #fff;
}
#contra:focus{
    background-color: grey;
    border-radius: 10px;
    background-image: url(./img/Mi\ proyecto\ \(1\).png);
    background-size: 40px 25px;
    background-repeat: no-repeat;
    background-position: right;
}
#correo:focus{
    background-color: grey;
    border-radius: 10px;
    background-image: url(./img/Mi\ proyecto\ \(2\).png);
    background-size: 40px 25px;
    background-repeat: no-repeat;
    background-position: right;
}
#correo:invalid{
    background-color: rgb(255, 70, 70);
}

@media only screen and (max-width:500px){
    .cont_form{
        width: 300px;
        height: 500px;
        background-color: rgba(0, 0, 0, 0.703);
    }
    body{
        background-position: center center;
    }

    h1{
        font-size: 1em;
        height: 0;
    }
}