*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: rgb(27, 27, 27);
    height: 200vh;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "header header header header"
                            "section section section section"
                            "section section section section"
                            "footer footer footer footer";
}
section{
    grid-area: section;
    height: 150vh;
    margin: 50px auto;
}
.terminos_condiciones{
    width: 700px;
    height: 1100px;
    background-color: rgba(53, 53, 53);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 100px;
    border-radius: 30px;
}
.terminos_condiciones h1{
    font-size: 2rem;
    margin-top: 30px;
}
.terminos_condiciones p{
    font-size: 1rem;
    margin-top: 50px;
}
header{
    grid-area: header;
    grid-column: 1/5;
    height: 120px; 
    background-color: black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
header .logo{
    display: flex;
    align-items: center;
}

header .logo .direct{
    margin: 0 80px;
    padding: 12px 30px;
    background-color: #fff;
    color: #000;
    font-size: 1em;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

header .logo .direct:hover{
    transform: scale(1.1);
    letter-spacing: 1.5px;
    background-color: transparent;
    color: white;
    border: 1px solid white ;
}

.logo img{
    width: 220px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
}
nav{
    margin-right: 20px;

}
nav a{
    padding: 0 15px;
    color: white;
}
ion-icon{
    font-size: 2.5rem;
}
nav a:hover{
    color: rgb(177, 31, 177);
}
a{
    font-size: 2em;
    padding: 0 20px;
    color: #fff;
}

a:hover{
    color: blueviolet;
}

footer{
    grid-area: footer;
    margin-top: 100px;
    width: 100%;
    height: 150px;
    background-color: #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes .footer__redes{
    padding: 0 15px;
}

.politicas a{
    font-size: 25px;
}



@media  screen and (max-width:500px){
    .grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,auto);
        grid-template-areas: "header header header header"
                            "section section section section"
                            "section section section section"
                            "footer footer footer footer";
    }
    
    header{
        grid-area: header;
        grid-column: 1/5;
    }

    header .logo .direct{
        margin: 0;
    }

    .logo a img{
        width: 100px;
        height: 50px;
    }

    header .logo .direct{
        padding: 6px 15px;
        font-size: 10px;
        margin: 0 20px;
    }

    header .logo .direct:active{
        background-color: #fefefe;
        color: #0a0909;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 0;
    }

    nav a{
        margin-right: 7px;
        padding: 0 5px;
    }

    nav a ion-icon{
        font-size: 25px;
    }

    section{
        grid-area: section;
        height: auto;
        margin: 0;
        padding: 0;
        margin:  0 auto;
    }

    .terminos_condiciones{
        width: 180px;
        height: auto;
        padding: 0 40px;
    }

    footer{
        grid-area: footer;
        grid-column: 1/5;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .politicas{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .politicas a{
        font-size: 15px;
        padding: 0 5px;
    }

    .redes .footer__redes ion-icon{
        font-size: 1em;
    }

    .politicas a:active{
        text-decoration: underline;
    }

}