*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(../img/anime4k.jpg);
    background-size: cover;
    height: 100vh;
}
header{
    width: 100%;
    height: 120px; 
    background-color: black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


header .logo{
    display: flex;
    align-items: center;
}

header .logo .direct{
    margin: 0 80px;
    padding: 12px 30px;
    background-color: #fff;
    color: #000;
    font-size: 1em;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

header .logo .direct:hover{
    transform: scale(1.1);
    letter-spacing: 1.5px;
    background-color: transparent;
    color: white;
    border: 1px solid white ;
}

.logo img{
    width: 220px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
}
nav a{
    margin: 0 30px;
    color: white;
}
ion-icon{
    font-size: 2.5rem;
}
nav a:hover{
    color: rgb(177, 31, 177);
}
.menu{
    max-width: 900px;
    margin: auto;
    background-color: rgba(41, 41, 41, 0.89);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 20px;
}
.menu_vertical li{
    transition: all 0.3s;
    font-size: 1.2rem;
}
.menu_horizontal{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu_horizontal > li > a{
    display: block;
    padding: 0 20px;
    color: white;
    text-decoration: none;
}
.menu_horizontal > li:hover{
    background-color: rgb(103, 103, 103);
}
.menu_vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.menu_horizontal li:hover .menu_vertical{
    display: block;
}
.menu_vertical li:hover{
    background-color: grey;
}
.menu_vertical li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 0;
}
@media only screen and (max-width: 400px){
    *{
        margin: 0;
        padding: 0;
    }
    header{
        width: 100%;
        height: 100px;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .logo a img{  
        height: 50px;
        width: 100px;
    }
    header .logo .direct{
        font-size: 10px;
        padding: 7px 10px;
        margin: 0 30px;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav a{
        padding: 0 10px;
        margin: 0;
    }
    nav a ion-icon{
        font-size: 20px;
    }
    body{
        background-position: center top;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .menu{
        width: 99%;
    }
    .menu ul li a{
        font-size: 13px;
    }
    .menu_vertical{
        width: 100px;
        padding-left: 10px;
    }
    .menu .menu_horizontal .menu_vertical a{
        font-size: 8px;
    }
}